<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>SHOP RPI</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <script type="text/javascript" src="/js/angular.js"></script>

  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/icon.ico" />
  <link rel="stylesheet" href="/css/landing.css"/>
</head>
<body ng-controller="mainController">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div ng-include="'/navigation'"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <div ng-include="'/sidebar'"></div>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper" ng-controller="listShops">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
              </span>
              Dashboard
            </h3>
          </div>

          <div class="row" ng-repeat="row in stores">
            <div class="col-md-4 stretch-card grid-margin btn" data-toggle="modal" data-target="#store_info" ng-repeat="item in row" ng-show="{{item}}" ng-click="updateView(item['_id'])">
              <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body" style="background-color: grey">
                  <img src="/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                  <h2 class="mb-5 text-success">{{item.name}}</h2>
                  <h6 class="card-text">{{item.address}}</h6>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="store_info" tabindex="-1" role="dialog" aria-labelledby="{{focus.name}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="modalTitle">{{focus.name}}</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- <p><strong>Store Owner: </strong></p> -->
                  <p><strong class="mr-1">Address:</strong>{{focus.address}}</p>
                  <p class="text-center"><strong>Description:</strong></p>
                  <div id="description-body" class="ml-2 mr-2" ng-show="focus.description"></div>
                    <button type="button" class="btn btn-gradient-warning text-dark mt-3 btn-sm" ng-click="updateFavorite(focus._id)">Make this your favorite</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap Dash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
