<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SHOP RPI</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <script type="text/javascript" src="/js/inventory.js"></script>

  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- endinject -->
  <link rel="shortcut icon" href="/images/icon.ico" />
  <link rel="stylesheet" href="/css/landing.css"/>
</head>


<body ng-controller="mainController">
  <div class="container-scroller">

    <div ng-include="'/navigation'"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

      <div ng-include="'/sidebar'"></div>

      <!-- Content -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-table"></i>
              </span>
              Inventory
            </h3>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form method="post" ng-submit="remove()">
                      <input name="name" id="name" type="text" style="display: none;"/>
                      <input name="_id" id="id" type="text" style="display: none;"/>
                      <button id="rm" type="submit" class="btn btn-gradient-danger mr-2 d-none" style="float: right;">Remove item</button>
                    </form>

                    <h4 class="card-title">Item Search</h4>
                      <div class="form-group">
                        <label for="item">Item</label>
                        <select name="item" id="item" class="form-control" onchange="displayItem()">
                          <option value="">Choose...</option>
                        </select>
                      </div>
                      <div id="results" class="d-none">
                        <div class="form-group">
                          <label for="itemprice">Item Price</label><br/>
                          <input id="itemprice" type="text" name="itemprice"/>
                        </div>
                        <div class="form-group">
                          <label for="itemdescription">Item Description</label>
                          <br/>
                          <textarea id="itemdescription" name="itemdescription"></textarea>
                        </div>
                        <button type="button" class="btn btn-info" ng-click="update()">Update Product Information</button>
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Item</h4>
                    <form class="forms-sample" method="post" action="/product/add">
                      <div class="form-group">
                        <label for="iName">Item Name:</label>
                        <input type="text" class="form-control" id="iName" name="name">
                      </div>
                      <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" step=".01" class="form-control t-field" id="price" name="price">
                      </div>
                      <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea class="form-control" id="desc" rows="4" cols="4" name="description"></textarea>
                      </div>
                      <button type="submit" class="btn btn-gradient-info mr-2">Add</button>
                    </form>
                  </div>
                </div>
              </div>


            </div>
            <!-- <div id="items" class="row mt-3">
              <ul ng-show="items" class="list-unstyled col">
                <li ng-repeat="item in items" class="border border-dark">
                  <img ng-src="{{item.img}}" alt="{{item.name}}" class="prod-img">
                  {{item.name}}
                  <p>Description: {{item.desc}}
                    <br/>
                    Product Code: {{item.code}}
                  </p>
                </li>
              </ul>
              <div class="col-1 gap"></div>
              <div class="col gap"></div>
            </div> -->
          </div>

        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap Dash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
      </div>
    </div>
  </div>
  
  <!-- Bootstrap and jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <script src="angular.js"></script>
  <script src="inventory.js"></script>
</body>
</html>
