<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SHOOPING!</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  <script type="text/javascript" src="/js/angular.js"></script>

  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- endinject -->
  <link rel="shortcut icon" href="/images/icon.ico" />
  <link rel="stylesheet" href="/css/landing.css"/>
</head>


<body ng-controller="mainController">
  <div class="container-scroller">

    <div ng-include="'/navigation'"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

      <div ng-include="'/sidebar'"></div>

      <!-- Content -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
              </span>
              Inventory
            </h3>
          </div>

          <div class="container" ng-controller="itemController">
            <div class="row">
              <div class="col-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Item Search</h4>
                    <form class="form-sample">
                      <div class="form-group">
                        <select id="option" class="form-control col-sm-5 d-inline">
                          <option>By Name:</option>
                          <option>By Product Code:</option>
                        </select>
                        <input id="search" type="text" class="form-control col-sm-6 d-inline">
                      </div>
                      <button type="submit" class="btn btn-gradient-success mr-2">Search</button>
                      <br><br>
                    </form>
                    <table class="table table-bordered" id="productTable">
                      <thead>
                        <tr>
                          <th>
                            Product Code
                          </th>
                          <th>
                            Product Name
                          </th>
                          <th>
                            Price ($)
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            <input type="text" style="border:none" ></input>
                          </td>
                          <td>
                            <input type="number" style="border:none" ></input>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            2
                          </td>
                          <td>
                            <input type="text" style="border:none" ></input>
                          </td>
                          <td>
                            <input type="number" style="border:none" ></input>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            3
                          </td>
                          <td>
                            <input type="text" style="border:none" ></input>
                          </td>
                          <td>
                            <input type="number" style="border:none" ></input>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            4
                          </td>
                          <td>
                            <input type="text" style="border:none" ></input>
                          </td>
                          <td>
                            <input type="number" style="border:none" ></input>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            5
                          </td>
                          <td>
                            <input type="text" style="border:none" ></input>
                          </td>
                          <td>
                            <input type="number" style="border:none" ></input>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            6
                          </td>
                          <td>
                            <input type="text" style="border:none" ></input>
                          </td>
                          <td>
                            <input type="number" style="border:none" ></input>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div id="items" class="row mt-3">
                      <ul ng-show="items" class="list-unstyled col">
                        <li ng-repeat="item in items" class="border border-dark">
                          <img ng-src="{{item.img}}" alt="{{item.name}}"" class="prod-img">
                          {{item.name}} <p class="d-inline float-right pt-2 pr-1">Price: {{item.price | currency}}</p>
                          <p>Description: {{item.desc}}
                            <br/>
                            Product Code: {{item.code}}
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Item</h4>
                    <form class="forms-sample" method="post" action="/product/add">
                      <div class="form-group">
                        <label for="iName">Item Name:</label>
                        <input type="text" class="form-control" id="iName" name="name">
                      </div>
                      <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" step=".01" class="form-control t-field" id="price" name="price">
                      </div>
                      <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea class="form-control" id="desc" rows="4" cols="4" name="description"></textarea>
                      </div>
                      <button type="submit" class="btn btn-gradient-info mr-2">Add</button>
                    </form>
                  </div>
                </div>
              </div>


            </div>
            <div id="items" class="row mt-3">
              <ul ng-show="items" class="list-unstyled col">
                <li ng-repeat="item in items" class="border border-dark">
                  <img ng-src="{{item.img}}" alt="{{item.name}}"" class="prod-img">
                  {{item.name}}
                  <p>Description: {{item.desc}}
                    <br/>
                    Product Code: {{item.code}}
                  </p>
                </li>
              </ul>
              <div class="col-1 gap"></div>
              <div class="col gap"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <footer class="text-center mx-auto fixed-bottom">SHOOPING Product</footer>

  <!-- Bootstrap and jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <script src="angular.js"></script>
  <script src="inventory.js"></script>
</body>
</html>
